In [1]:
import math
import utils
from datetime import datetime
import pandas as pd

c:\Users\agand\OneDrive\Escritorio\lakes\lake-algae-analysis\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import importlib
import utils

importlib.reload(utils)

In [9]:
top_logs = pd.read_csv(f"{utils.get_data_directory()}/top_lakes_logs.csv")

In [10]:
top_logs

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area
0,332072,2020-01-01,False,233839575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,332072,2020-01-02,False,233839575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,332072,2020-01-03,True,233839575,214281000.0,0.0,214281000.0,174185325.0,35375625.0,4612050.0,87300.0,20250.0,450.0
3,332072,2020-01-08,True,233839575,133802100.0,199359675.0,29695275.0,22834350.0,5511600.0,1342800.0,4950.0,1575.0,0.0
4,332072,2020-01-13,True,233839575,0.0,226910475.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513,1273092884,2024-08-07,True,1076525,0.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3514,1273092884,2024-08-17,True,1076525,651500.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3515,1273092884,2024-08-27,True,1076525,985225.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3516,1273092884,2024-09-01,True,1076525,1088525.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3517,1273092884,2024-09-06,True,1076525,1088200.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
top_logs_true = top_logs[top_logs["exists_true_image"] == True]

In [13]:
top_logs_true

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area
2,332072,2020-01-03,True,233839575,214281000.0,0.0,214281000.0,174185325.0,35375625.0,4612050.0,87300.0,20250.0,450.0
3,332072,2020-01-08,True,233839575,133802100.0,199359675.0,29695275.0,22834350.0,5511600.0,1342800.0,4950.0,1575.0,0.0
4,332072,2020-01-13,True,233839575,0.0,226910475.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,332072,2020-01-18,True,233839575,189730800.0,113298525.0,117989550.0,106267275.0,7215075.0,4500000.0,6300.0,675.0,225.0
6,332072,2020-01-23,True,233839575,211927050.0,0.0,211927050.0,180645750.0,28065375.0,2968875.0,208575.0,38475.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513,1273092884,2024-08-07,True,1076525,0.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3514,1273092884,2024-08-17,True,1076525,651500.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3515,1273092884,2024-08-27,True,1076525,985225.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3516,1273092884,2024-09-01,True,1076525,1088525.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3517,1273092884,2024-09-06,True,1076525,1088200.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
sukhna_2020_06_23 = top_logs_true[(top_logs_true["osmid"] == 8421510) & (top_logs_true["day"] == "2020-06-23") ]

In [15]:
sukhna_2020_06_23

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area
1652,8421510,2020-06-23,True,1391425,946250.0,683450.0,693225.0,268125.0,0.0,22425.0,19225.0,17975.0,365475.0

In [2]:
mci = [0.1,0.2,0.3,0.4,0.5]

In [3]:
chla = [0.5 * math.exp(8.92 * level) for level in mci]
chla

[1.2200023920501102,
 2.9768116732159817,
 7.2634347240123756,
 17.722815475589865,
 43.243754548164695]